body {
    font-family: Arial, sans-serif;
    position: relative; 
}

body::after {
    content: "";
    background: url(https://github.com/bryokn/JOB-SEARCH/blob/main/images/job.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}


header {
    background-color: #0a0a0a;
    color: white;
    padding: 20px;
    text-align: center;
}
h1{
    text-align: center;
}

.about{
    text-align: center;
    opacity: 80%;
}

.mission{
    text-align: center;
    opacity: 80%;
}

.contact{
    text-align: center;
    font-family: 'brush script mt', cursive;
    opacity: 80%;
}

#menu {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 10px;
}

#menu button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: 'brush script mt', cursive;
    font-size: 16px;
    cursor: pointer;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position:relative;
    bottom: 0;
    width: 100%;
}

footer button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
div {
    transition: background-color 0.5s ease;
}
